/*GENERAL*/

:root {
    --color-one: rgb(26, 41, 102);
    --color-two: white;
    --color-three: white;
}

*,
*:before,
*:after {
    border: 0px;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0 !important;
}

html,
body {
    font-weight: 100;
    position: relative;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    margin: 0px;
    padding: 0px;
    font-size: 1.2rem;
    -webkit-appearance: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    background: black;
}

h1 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 100;
    color: yellow;
}

h2 {
    font-size: 1;
    font-weight: bold;
}

h3 {
    font-size: 1rem;
    font-weight: bold;
}

strong {
    font-weight: 800;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

video {
    max-width: 600px;
}

img {
    width: 100%;
    display: block;
}

p {
    margin-bottom: 1rem;
}

li {
    list-style: none;
}

body {
    background: "black";
}

::selection {
    background: yellow;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: yellow;
    /* Gecko Browsers */
}

hr {
    height: 4px;
    background: white;
    margin: 0 0 1rem 0;
}

label {
    color: white;
}

input {
    padding: 5px;
    height: 28px;
    margin: 0 10px 0px 0;
    color: black!Important;
}

.debug {
    outline: 2px solid red;
}

div#toast {
    position: fixed;
    height: auto;
    overflow: none;
    top: -100px;
    right: 0px;
    background: rgb(15, 197, 167);
    color: black;
    z-index: 5000;
    padding: 5px;
}

nav {
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 10px;
    height: 40px;
    background: pink;
    z-index: 4000;
}

div#logo {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    display: none;
}

div#logo img {
    width: 50px;
}

nav ul li {
    margin: 0 0 20px 0;
}

nav ul li a {
    color: white;
    font-size: 2rem;
}

nav ul li a:hover {
    color: yellow;
}

nav ul li a.active {
    color: yellow;
}

nav input[type="checkbox"] {
    display: none!Important;
}

div#navigation-content {
    background: black;
    min-width: 100vw;
    min-height: 100vh;
    top: -2000px;
    position: fixed;
    z-index: 100000000;
}

nav div.inner {
    position: relative;
}


/*WHEN CLICKED*/

#desktop-icon:checked~label div#menu-button div#open-button {
    display: block!Important;
    background: none!Important;
    cursor: pointer;
}

#desktop-icon:checked~label div#menu-button {
    height: 35px!Important;
    width: 35px!Important;
    cursor: pointer;
}

#desktop-icon:checked~label+div#navigation-content {
    overflow: auto;
    top: 0px;
    left: 0px;
}

#desktop-icon:checked~label+div#navigation-content div#logo {
    display: block;
}


/*//////////////////////////////////////////*/


/* W R A P P E R */

div#wrapper {
    position: relative;
    margin: 0px;
    padding: 20px;
}

div#content {}

body#todo article {
    color: white;
    margin: 0 0 20px 0;
    padding: 5px;
    background: gray
}

body#todo div div#top-bar {
    margin: 0 0 30px 0;
}

body#todo article div.timestamp {
    display: none;
}

body#todo article div.date {
    display: none;
}

body#todo article div.price {
    display: none;
}

body#todo article div.status {
    display: none;
}


/*
RECURRENCE
*/

body#recurrence table,
body#recurrence th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

body#recurrence td {
    border: 2px solid white;
    padding: 3px;
}

body#recurrence table,
body#recurrence tr,
body#recurrence td,
body#recurrence th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

body#recurrence th {
    background: white;
    color: black;
    font-size: 1.1rem;
}

body#recurrence table thead tr th span:nth-child(2) {
    height: 30px;
    background-image: url("../icon/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 3px;
}

body#recurrence table tr.disabled {
    opacity: 0.7;
}


/*
PREORDER
*/

body#preorder table,
body#preorder th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

body#preorder td {
    border: 2px solid white;
    padding: 3px;
}

body#preorder th {
    background: white;
    color: black;
    font-size: 1.1rem;
}

div#preorder {
    color: white;
}

div#preorder article {}

div#preorder article div.date {
    margin: 0 0 10px 0;
}

div#preorder article div.orderby {
    margin: 10px 0 0px 0;
}

div#preorder article div.id {
    margin: 0px 0 0px 0;
    text-decoration: underline;
    cursor: pointer;
}

div#preorder article div.id:hover {
    text-decoration: none;
    font-weight: 900;
}

div#preorder article div span {
    margin: 0px 5px 0px 0;
    font-weight: 900;
}


/*
Stats
*/

body#stats div#wrapper {
    background: black;
    color: white;
    min-height: 100vh;
}

body#stats article {
    background: dimgray;
    color: white;
    font-size: 1rem;
}

body#stats article#day-stats {
    min-width: 30%;
    max-width: 40%;
    margin: 0px 20px 10px 0;
}

body#stats article#month-stats {
    min-width: 30%;
    max-width: 40%;
    margin: 0px 20px 10px 0;
}

body#stats article#months span {
    margin: 0 20px 0 0;
    min-width: 120px!Important;
    display: inline-block;
}

body#stats article#month table th {
    color: yellow;
}

body#stats article#month table {
    border-collapse: collapse;
    width: 200px;
}

body#stats article#month table td {
    padding: 5px;
    width: 40px;
}

body#stats article#days {
    display: block;
    position: absolute;
    z-index: 1000;
    display: none;
}

div#info-box {
    margin: 0 10px 0 0;
}

div#info-box article {
    margin: 0 0px 10px 0;
    padding: 10px;
}


/*
Customers
*/

body#customers div#top-bar {
    margin: 0 0 50px 0;
}

body#customers table,
body#customerstr,
body#customers td,
body#customers th {
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
}

body#customers table thead tr th span:nth-child(2) {
    height: 30px;
    background-image: url("../icon/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 3px;
}

body#customers th {
    font-size: 0.8rem;
    cursor: pointer;
    min-width: 80px;
    background: white;
    color: black;
}

body#customers td {
    padding: 3px;
}

body#customers div#wrapper {
    margin: 30px 0 0 0;
}

body#customers div#download {
    cursor: pointer;
    height: 28px;
}

body#customers div#download:hover img {
    opacity: 0.8;
}


/*
MISSIONS
*/

body#missions div#top-bar {
    margin: 0 0 50px 0;
}

body#missions div#top-bar div {
    margin: 0 0 20px 0;
}

body#missions {
    background: black;
    color: white;
    min-height: 100vh;
}

body#missions table td {
    border: 2px solid white;
    font-size: 0.9rem;
}

body#missions table {
    border-collapse: collapse;
}

table#missions th,
table#missions td {
    min-width: 120px;
    padding: 2px;
}

body#missions table thead tr th span:nth-child(2) {
    height: 30px;
    background-image: url("../icon/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 0 3px;
}

body#missions table th {
    border: 2px solid white;
    font-size: 0.9rem;
    cursor: pointer;
    background: white;
    color: black;
}

body#missions table tr:hover {
    background: white;
    color: black;
}


/*
//autocomplete
*/

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    color: black;
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
    color: black;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: red;
}

.autocomplete-group {
    padding: 2px 5px;
    color: black;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

footer {
    position: fixed;
    bottom: 0px;
    color: yellow;
    height: 15px;
    font-size: 0.6rem;
    padding: 2px;
}

footer div div:first-child {
    margin: 0 15px 0 0;
}


/*
  
   ___   ___   ___  
  / _ \ / _ \ / _ \ 
 | (_) | | | | | | |
  \__, | | | | | | |
    / /| |_| | |_| |
   /_/  \___/ \___/ 
                    
                    



*/

@media screen and (min-width: 0px) and (max-width: 900px) {
    html,
    body {
        font-size: 1rem;
    }
    article {
        min-width: 100%;
    }
}